#Postgres 
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

#Strapi settings
NODE_ENV=
API_URL=

#Strapi keys
APP_KEYS=
API_TOKEN_SALT=
JWT_SECRET=
ADMIN_JWT_SECRET=

#Strapi SU
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_USERNAME=